################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lista5/.vs/Lista5/v15/Browse.VC.opendb
/Lista6/.vs/Lista6/v15/Browse.VC.opendb
/Lista6/.vs/Lista6/v15/Browse.VC.db
